{% extends "./base.html" %}
{% block title %}
    {% if tag %}
        <div>标签列表页：{{ tag.name }}</div>
    {% elif category %}
        <div>分类列表页：{{ category.name }}</div>
    {% else %}
        <div>首页</div>
    {% endif %}
{% endblock %}
{% block main %}
    <div>
        <ul>
            {% for post in post_list %}
                <li>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    <div>
                        <span>作者：{{ post.owner.username }}</span>
                        <span>作者：{{ post.category.name }}</span>
                    </div>
                    <p>{{ post.desc }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

